{% extends 'base.html' %}
{% load static %}
{% block title%} blog-list {% endblock %}

{%block content%}
    <div style="float: right; ">
        <a href="{% url 'logout-page' %}"><button class="btn btn-danger" >Logout</button></a>
    </div>
    <h2>Welcome to Django Blog!</h2>

    <br>
    <br>
    <br>

    <div style="float: right; width: 20%">
        <h4>Category</h4>
        <p><a href="{% url 'blog-list' %}"> All </a></p>
        {% for cat in categories%}
            <p><a href="{% url 'blog-list-category-filter' cat.id %}"> {{cat.title}} </a></p>
        {%endfor%}
    </div>
    <a href="{% url 'blog-create' %}"><button class="btn btn-primary">Add Blog</button></a>
    <br>
    {% for blog in blogs %}
    <br>
    <h3><a href="{% url 'blog-detail' blog.id %}">{{blog.title}}</a></h3>

    <small>author:&nbsp; {{blog.author.username}} &nbsp;&nbsp;&nbsp; category:&nbsp; {{blog.category.title}} </small>
    <br>
    <small>created_at:&nbsp;&nbsp;{{blog.created_date}}</small>
    <br>

    {% endfor %}

{%endblock%}
